.calendar-container {
    width: 95vw;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8fcf6;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f4e0;
    border-bottom: 1px solid #d0d0d0;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-toolbar-title {
    margin: 0 10px;
    font-family: "SCDream5";
    font-size: 12px;
    /* 버튼과 간격 */
}

/* CalendarMain.module.css */

.calendar-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 700px;
}

.calendar-sidebar-area {
    width: 240px;
    min-width: 200px;
    max-width: 320px;
    margin-right: 32px;
    background: #f8fcf6;
    border-radius: 12px;
    box-shadow: 0 2px 8px #e7f1e0;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.calendar-main-area {
    flex: 1 1 0;
    min-width: 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px #e7f1e0;
    padding: 24px 24px 24px 0;
    display: flex;
    flex-direction: column;
}