.approval-wrapper{
    display: flex;
}

.approval-in-wrapper{
    display: block;
    flex:1;
}

.approval-list-wrapper{
    display: block;
}

.menu-name{
    font-family: "SCDream5";
    font-size: 16px;
    text-align: left;
    margin: 15px 16px 10px 16px;
    color: #404d2f;
    display: block
}

.approval-search-wrapper{
    display: flex;
}


.approval-search{
    display: flex;
    width: 250px;
    height: 30px;
    line-height: 30px;
    margin: 14px 14px;
    border-radius: 20px;
    background-color:  #fdfff5;
    border: 1px solid #d9e7c6;
}

.approval-search div{
    width: 30%;
    font-size: 14px;
    color:#404d2f;
    line-height: 30px;
    background-color: #f7faec;
    border-radius: 20px;
}
.approval-search-s{
    font-size: 12px;
}

.approval-search input {
    width: 55%;
    background-color: #fdfff5;
    border: 0px solid #e8f1bd;
    outline: none;
    border-left: 1px solid  #e8f1bd;
}

.approval-search img {
    width: 16px;
    height: 16px;
    outline: none;
    border: 0px;
    margin: 6px 5px;
}
.approval-search-open-wrapper{
    display: flex;
    width: 250px;
    margin: 14px 14px;
    align-items: center;
}

.approval-search-open{
    font-size: 14px;
    color:#8d996a;
    font-family: "SCDream4";
    cursor: pointer;
    text-align: left;
}
.approval-search-open-img{
    margin: 4px;
}

.approval-list-table{
    background-color: #fcfff5;
    width: 100%;
    border-collapse : collapse;
    margin: 5px 10px;
}

.approval-list-table th{
    background-color: #edf5de;
    font-size:14px;
    font-family: "SCDream3";
    padding: 6px 6px;
    border: 1px solid  #ccd8b3;
    border-left: none;
    border-right: none;
}

.approval-list-table td{
    font-size:13px;
    font-family: "SCDream2";
    padding: 4px 4px;
    border: 1px solid #dce4cc;
    border-left: none;
    border-right: none;
}